affine==2.1.0
attrs==17.4.0
boto3==1.5.32
botocore==1.8.46
certifi==2018.1.18
click==6.7
click-plugins==1.0.3
cligj==0.4.0
docutils==0.14
enum34==1.1.6
Fiona==1.7.10
futures==3.2.0
GDAL==2.2.2
jmespath==0.9.3
munch==2.2.0
numpy==1.14.1
pyparsing==2.2.0
pyproj==1.9.5.1
python-dateutil==2.6.1
rasterio==0.36.0
s3transfer==0.1.13
Shapely==1.6.4.post1
six==1.11.0
snuggs==1.4.1
